body::before,
body::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
}

/* Triangolo in alto a sinistra */
body::before {
    border-top: 200px solid rgba(255, 255, 255, 0.05);
    border-right: 200px solid rgba(255, 255, 255, 0.05);
    border-bottom: 200px solid transparent;
    border-left: 200px solid transparent;
    top: 120px;
    left: -50px;
    transform: rotate(-45deg);
}

/* Triangolo in basso a destra */
body::after {
    border-top: 180px solid transparent;
    border-right: 180px solid transparent;
    border-bottom: 180px solid rgba(255, 255, 255, 0.05);
    border-left: 180px solid rgba(255, 255, 255, 0.05);
    bottom: -50px;
    right: -50px;
    transform: rotate(45deg);
}


@media (max-width: 1000px) {
    body::before {
        border-top-width: 100px;
        border-right-width: 100px;
        border-bottom-width: 100px;
        border-left-width: 100px;
        top: -50px;
        left: -50px;
    }

    body::after {
        border-top-width: 80px;
        border-right-width: 80px;
        border-bottom-width: 80px;
        border-left-width: 80px;
        bottom: -50px;
        right: -50px;
    }
}